@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue-color: #006ee6;
    --blue-border-shadow: #006fe69a;
    --gray-color: rgba(173, 172, 172, 0.392);

}




* {
    font-family: "Poppins";
}

body {
    margin: 0;
    padding: 0;
}

.signin-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.signin-background-section1,
.signin-background-section2,
.signin-background-section3 {
    width: 50%;
    height: 100vh;
}

.signin-background-section1 {
    background-image: url("Resources/login_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin-background-section2 {
    background-color: rgb(243, 243, 243);
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.signin-background-section3 {
    background-color: rgb(243, 243, 243);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.signin-title {
    font-size: 36px;
    font-weight: bold;
}

.signin-inputset {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 0.8s;
}

.signin-input {
    outline: none;
    border-style: solid;
    border-color: var(--gray-color);
}

.signin-input:focus {
    border-color: var(--blue-border-shadow);
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--blue-border-shadow);
}

.signin-label {
    font-size: 14px;
    padding-bottom: 10px;
}

.signin-button-panel {
    width: 70%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-button {
    background-color: transparent;
    outline: none;
    border-style: solid;
    transition-duration: 0.8s;
    border-width: 1px;
    border-color: var(--gray-color);
    padding: 2px 20px;
    border-radius: 10px;
    margin: 0px 20px;
}

.signin-button:hover {
    border-color: var(--blue-border-shadow);
    box-shadow: 0px 0px 0px 2px var(--blue-border-shadow);
    color: var(--blue-color);
    font-weight: bold;
    outline: none;
    transition-duration: 0.8s;
}

.create-account-label {
    color: var(--blue-color);
    font-size: 12px;
    transition-duration: 0.8s;
}

.create-account-label:hover {
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.8s;
}






@media only screen and (max-width: 600px) {
    .signin-background {
        flex-direction: column;
        height: auto;
    }

    .signin-background-section1,
    .signin-background-section2 {
        width: 100%;
        height: 50vh;
        padding-bottom: 20px;
    }

    .signin-background-section3 {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
}